#footer{
  border-top: 0px !important;
}

h2{
  font-family: 'Jockey One', sans-serif;
}

.jockey{
  font-family: 'Jockey One', sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
}