<div class="container">

  <!-- Footer Widgets
  ============================================= -->
  <div style="display: flex; align-items: center; justify-content: center;" class="footer-widgets-wrap clearfix">


    <div class="col_one_third col_last">

      <div class="widget subscribe-widget clearfix">
        <h5><strong>ENTER</strong> your email below to try your first week of classes <strong>FREE</strong></h5>
        <div class="widget-subscribe-form-result"></div>
        <form id="widget-subscribe-form" action="include/free_class.php" role="form" method="post" class="nobottommargin">
          <div class="input-group divcenter">
            <span class="input-group-addon"><i class="icon-email2"></i></span>
            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
            <span class="input-group-btn">
              <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm" type="button">Submit</button>
              <!--Modal Popup -->
              <div style="vertical-align: middle;" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    <div style="padding: 20px;" class="modal-content">
                      <div>
                        <p>Please provide us some contact information.</p>
                        <input style="margin-bottom: 5px;" width="100px" type="text" id="widget-subscribe-form-name" name="widget-subscribe-form-name" class="form-control" placeholder="Name">
                        <br />
                        <input style="margin-bottom: 5px;" width="100px" type="text" id="widget-subscribe-form-phone" name="widget-subscribe-form-phone" class="form-control" placeholder="Phone">
                      </div>
                      <br />
                      <div class="g-recaptcha" data-sitekey="6LdAARwUAAAAAF8HCwjwwm71TkuRNcgJ1C_Mh9Gd"></div>
                      <div style="display: flex; justify-content: flex-end;">
                        <button style="display: flex; float: none;" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm" type="submit">Submit</button>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- end Modal -->

            </span>
          </div>
        </form>
      </div>

      <div class="widget clearfix" style="margin-bottom: -20px;">

        <div class="row">

          <div class="col-md-6 clearfix bottommargin-sm">
            <a href="https://www.facebook.com/Epic-Martial-Arts-Academy-111659968872797/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>
            <a href="https://www.facebook.com/Epic-Martial-Arts-Academy-111659968872797/"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
          </div>

        </div>

      </div>

    </div>

  </div><!-- .footer-widgets-wrap end -->

</div>

<!-- Copyrights
============================================= -->
<div id="copyrights">

  <div id="copy_flex" class="container clearfix">

    <div id="address_flex">
      <div>Epic Martial Arts</div>
      <div>313 Richmond St. </div>
      <div>McComb, MS 39648</div>
    </div>

    <div id="phone_flex">
      <div class="flex_icons">
        <a class="social-icon si-large si-borderless si-youtube" href="https://www.youtube.com/channel/UCPqoVVQLxfYYZ7aQcDnxphA" >
          <i class="icon-youtube"></i> 
          <i class="icon-youtube"></i> 
        </a>
        <a class="social-icon si-large si-borderless si-facebook" href="https://www.facebook.com/Epic-Martial-Arts-Academy-111659968872797/"> 
          <i class="icon-facebook"></i> 
          <i class="icon-facebook"></i> 
        </a>
      </div>
      <div class="flex_icons">
        <a href="tel:6012500550">(601) 250-0550</a>
      </div>
      <div class="flex_icons">
        <a href='mailto:epicmartialarts@hotmail.com'>epicmartialarts@hotmail.com</a>
      </div>
    </div>

  </div>

</div><!-- #copyrights end -->