<div id="header-wrap">

  <div class="container clearfix">

    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

    <!-- Logo
    ============================================= -->
    <div id="logo">
      <a href="/index.php" class="standard-logo" data-dark-logo="/images/EPIC.png"><img src="/images/EPIC.png" alt="Canvas Logo"></a>
      <a href="/index.php" class="retina-logo" data-dark-logo="/images/EPIC@2x.png"><img src="/images/EPIC@2x.png" alt="Canvas Logo"></a>
    </div><!-- #logo end -->

    <!-- Primary Navigation
    ============================================= -->
    <nav id="primary-menu">
      <ul>
        <li>  <a href="/index.php">     <div>HOME      </div>  </a>  </li>
        <li>  <a href="/events/">       <div>EVENTS    </div>  </a>  </li>
        <li>  <a href="/about.php">     <div>ABOUT US  </div>  </a>  </li>
        <li>  <a href="/schedule.php">  <div>SCHEDULE  </div>  </a>  </li>
        <li>  <a href="/links.php">     <div>LINKS     </div>  </a>  </li>
      </ul>
    </nav><!-- #primary-menu end -->
  </div>
</div>
