a{
  color: #81b441;
}
.belt_container{
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
}

.flex_cols{
  display: inline-flex;
  max-width: 600px;
  flex-flow: column;
  color: #999999;
}

.flex_cols2{
  display: flex;
  align-content: stretch;
  max-width: 500px;
  flex-flow: column;
  color: #999999;
}
.flex_c1{
  display: flex;
  flex-flow: row;
  align-items: right;
  justify-content: flex-end;
}
.flex_end{
  display: flex;
  flex-flow: row;
  align-items: right;
  justify-content: flex-end;
}
#footer{
  border-top: 0px !important;
}
#date_overide{
  width: auto !important;
  height: auto !important;
  padding: 7px !important;
}
.why_train{
  border-bottom: solid #81b441;
}
.belt_section{
  background-color: #333333;
  margin-bottom:  0px !important;
}
.belt-icon i{
  background-color: #81b441 !important;
}
#parallax{
  margin-top: 0px !important;
}
h1{
  font-family: 'Jockey One', sans-serif;
}
h3{
  color: #fff !important;
  font-size: 14pt !important;
  font-family: 'Jockey One', sans-serif;
}
.jo-green{
  font-family: 'Jockey One', sans-serif;
  font-size: 14pt !important;
  color: #81b441 !important;
}
.belt_rHead{
  text-align: right;
}
.belt_lHead{
  text-align: left;
}
.belt_rBullets{
  font-size: 14px;
  text-align: right;
}
.belt_lBullets{
  font-size: 14px;
  text-align: left;
}
.belt_IconBullet{
  display: flex;
  flex-flow: row;
}
.belt_left {
  padding-left: 25px;
}
.belt_right {
  padding-right: 25px;
}
.belt_rIcon{
  width: 100px;
}
img{ max-width: 100%; min-width: 100%; }

.tp-revslider-mainul{
  background-color: #121212;
}
.tp-tabs, .tp-thumbs, .tp-bullets {
  background-color: #1a1a1a !important;
}
#sample{}

.alt-color{
  background-color: #d4d4d4;
}

.quote_text{
  padding-top: 300px;
}

@media (max-width: 800px){
  .quote_text{
    padding-top: 100px;
  }
  #quote{
    display: flex !important;
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }
  #quote-mid{
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
}
#quote{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.phone_containter{
  display: flex !important;
  flex-direction: column !important;
  align-items: right !important;
  text-align: right !important;
  justify-content: right !important;
}
  .ph_num{
    display: flex !important;
    align-items: left !important;
    text-align: left !important;
    justify-content: left !important;
  }

@media (max-width: 767px){
  #copy_flex{
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  #address_flex{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  #phone_flex{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 15px;
  }
  .flex_icons{
    align-self: center !important;
  }
}

#copy_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#address_flex{
  flex-grow: 3;
}

#phone_flex{
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.social-icon.si-large {
  margin: 0px !important;
  width: 40px !important;
}

.flex_icons{
  display: flex; align-self: flex-end;
}


.modal-dialog {
  display: flex;
  height: 100%;
  align-items: center !important;
  justify-content: center;
}

.input-group .form-control {
  float: none !important;
}
