/* Base Application Styles */
body {
 /* background-image: url('../images/black_scales.png');
  background-repeat:  repeat-y repeat-x; */
  /*background-color: #1d1e20;*/
}

/*@media print{@page {size: landscape}}*/
.container2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.title{
  font-family: 'Jockey One', sans-serif;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.shadow{
  box-shadow: 0 5px 4px -4px black;
}
.content {
  padding: 25px;
  color: #000;
  margin: 0 auto;
  width: 300px;
}

a {
	text-decoration: none;
}
.main {
  position:   relative;
  margin:    0 auto;
  text-align: center;
  padding:   10px;
}

.right_button{
  margin-left: auto;
}
/* Flex Stuff */
.main_wrap{
  display:  flex;
  flex-flow:  row wrap;
  align-items: center;
  justify-content:  center;
}
.wrap{
  display:  inline-flex;
  flex-flow: column;
  align-items: center;
  background-color:   #fff;
}
.container {
  /*display: flex;*/
  margin-top: 10px;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}
.c3{
  display: flex;
}
.container2 {
  display: flex;
  margin-top: 10px;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}
.item1 {
  width: 275px !important;
  margin: 1px;
  border: 1px solid lightgrey;
}
.item2 {
  width: 275px;
  margin: 1px;
}
.item3 {
  width: 75%;
}

.center_wrapper{
  display: flex;
  align-items:  center;
  justify-content: center;
}

.content_wrap{
  width: 75%;
  background-color: rgba(#fff, 0);
}